USE [master]
GO
/****** Object:  Database [d_launcher]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE DATABASE [d_launcher]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'd_launcher', FILENAME = N'C:\Users\pc\d_launcher.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'd_launcher_log', FILENAME = N'C:\Users\pc\d_launcher_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [d_launcher].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [d_launcher]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_item_id] [uniqueidentifier] NOT NULL,
	[cart_id] [uniqueidentifier] NOT NULL,
	[game_id] [uniqueidentifier] NOT NULL,
	[quantity] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_cart_items] PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_carts] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[display_order] [int] NOT NULL,
	[short_description] [nvarchar](1000) NULL,
	[slug] [nvarchar](255) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_categories]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_categories](
	[game_category_id] [uniqueidentifier] NOT NULL,
	[game_id] [uniqueidentifier] NOT NULL,
	[category_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_game_categories] PRIMARY KEY CLUSTERED 
(
	[game_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_versions]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_versions](
	[version_id] [uniqueidentifier] NOT NULL,
	[game_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[is_removed] [bit] NOT NULL,
	[version_name] [nvarchar](255) NULL,
	[price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_game_versions] PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[games]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[game_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
	[steam_app_id] [int] NULL,
	[steam_price] [decimal](18, 2) NULL,
	[isremove] [bit] NOT NULL,
	[photo_url] [nvarchar](500) NULL,
	[is_trending] [bit] NOT NULL,
 CONSTRAINT [PK_games] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[media]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[media](
	[media_id] [uniqueidentifier] NOT NULL,
	[asset_id] [uniqueidentifier] NULL,
	[url] [nvarchar](1000) NOT NULL,
	[media_type] [nvarchar](100) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_media] PRIMARY KEY CLUSTERED 
(
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profiles]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profiles](
	[profile_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[display_name] [nvarchar](100) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[is_vip] [bit] NOT NULL,
	[vip_purchased_at] [datetime2](7) NULL,
	[vip_expires_at] [datetime2](7) NULL,
	[bio] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_profiles] PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_tokens]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_tokens](
	[refresh_token_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[token_hash] [varchar](255) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[revoked_at] [datetime2](7) NULL,
 CONSTRAINT [PK_refresh_tokens] PRIMARY KEY CLUSTERED 
(
	[refresh_token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [uniqueidentifier] NOT NULL,
	[game_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[rating] [decimal](3, 2) NULL,
	[review_text] [nvarchar](max) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_reviews] PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [uniqueidentifier] NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[role_code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_otps]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_otps](
	[user_otp_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[purpose] [varchar](50) NOT NULL,
	[otp_code] [varchar](12) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
	[is_used] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[used_at] [datetime2](7) NULL,
 CONSTRAINT [PK_user_otps] PRIMARY KEY CLUSTERED 
(
	[user_otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_role_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/3/2026 10:40:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[status] [varchar](20) NOT NULL,
	[email_verified] [bit] NOT NULL,
	[last_login_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[carts] ([cart_id], [user_id], [status], [created_at], [updated_at]) VALUES (N'd864a15e-41d1-4d79-80ba-5fd523e79555', N'177562c0-492f-f111-88ed-a0ad9fd5aaa4', N'active', CAST(N'2026-04-03T10:42:03.807' AS DateTime), CAST(N'2026-04-03T10:42:03.807' AS DateTime))
GO
INSERT [dbo].[categories] ([category_id], [name], [created_at], [updated_at], [status], [display_order], [short_description], [slug]) VALUES (N'5ad7b91b-f62b-f111-88ed-a0ad9fd5aaa4', N'Hành Động', CAST(N'2026-03-30T05:05:46.0000000' AS DateTime2), CAST(N'2026-03-30T05:07:06.0000000' AS DateTime2), N'Published', 1, N'', N'hanh-dong')
GO
INSERT [dbo].[game_categories] ([game_category_id], [game_id], [category_id], [created_at]) VALUES (N'4dcfd73f-9000-4b5f-818e-81bda92f0034', N'516712d1-432f-f111-88ed-a0ad9fd5aaa4', N'5ad7b91b-f62b-f111-88ed-a0ad9fd5aaa4', CAST(N'2026-04-03T09:59:35.0000000' AS DateTime2))
INSERT [dbo].[game_categories] ([game_category_id], [game_id], [category_id], [created_at]) VALUES (N'ef253e4f-a115-4ebb-944c-87bbba7d884b', N'c3f4d62d-be2e-f111-88ed-a0ad9fd5aaa4', N'5ad7b91b-f62b-f111-88ed-a0ad9fd5aaa4', CAST(N'2026-04-02T18:02:58.0000000' AS DateTime2))
GO
INSERT [dbo].[game_versions] ([version_id], [game_id], [created_at], [updated_at], [is_removed], [version_name], [price]) VALUES (N'a892c42b-bd2e-f111-88ed-a0ad9fd5aaa4', N'a792c42b-bd2e-f111-88ed-a0ad9fd5aaa4', CAST(N'2026-04-02T17:55:45.0000000' AS DateTime2), CAST(N'2026-04-02T18:02:28.0000000' AS DateTime2), 1, N'Ban thuong', CAST(74250.00 AS Decimal(18, 2)))
INSERT [dbo].[game_versions] ([version_id], [game_id], [created_at], [updated_at], [is_removed], [version_name], [price]) VALUES (N'a992c42b-bd2e-f111-88ed-a0ad9fd5aaa4', N'a792c42b-bd2e-f111-88ed-a0ad9fd5aaa4', CAST(N'2026-04-02T17:55:45.0000000' AS DateTime2), CAST(N'2026-04-02T18:02:28.0000000' AS DateTime2), 1, N'Ban full DLC', CAST(89100.00 AS Decimal(18, 2)))
INSERT [dbo].[game_versions] ([version_id], [game_id], [created_at], [updated_at], [is_removed], [version_name], [price]) VALUES (N'c4f4d62d-be2e-f111-88ed-a0ad9fd5aaa4', N'c3f4d62d-be2e-f111-88ed-a0ad9fd5aaa4', CAST(N'2026-04-02T18:02:58.0000000' AS DateTime2), CAST(N'2026-04-02T18:02:58.0000000' AS DateTime2), 0, N'Ban thuong', CAST(74250.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[games] ([game_id], [name], [created_at], [updated_at], [steam_app_id], [steam_price], [isremove], [photo_url], [is_trending]) VALUES (N'a792c42b-bd2e-f111-88ed-a0ad9fd5aaa4', N'Subnautica', CAST(N'2026-04-02T17:55:45.0000000' AS DateTime2), CAST(N'2026-04-02T18:02:28.0000000' AS DateTime2), 264710, CAST(148500.00 AS Decimal(18, 2)), 1, N'https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/264710/header.jpg?t=1774323987', 0)
INSERT [dbo].[games] ([game_id], [name], [created_at], [updated_at], [steam_app_id], [steam_price], [isremove], [photo_url], [is_trending]) VALUES (N'c3f4d62d-be2e-f111-88ed-a0ad9fd5aaa4', N'Subnautica', CAST(N'2026-04-02T18:02:58.0000000' AS DateTime2), CAST(N'2026-04-03T10:18:55.0000000' AS DateTime2), 264710, CAST(148500.00 AS Decimal(18, 2)), 0, N'https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/264710/header.jpg?t=1774323987', 1)
INSERT [dbo].[games] ([game_id], [name], [created_at], [updated_at], [steam_app_id], [steam_price], [isremove], [photo_url], [is_trending]) VALUES (N'516712d1-432f-f111-88ed-a0ad9fd5aaa4', N'Subnautica', CAST(N'2026-04-03T09:59:35.0000000' AS DateTime2), CAST(N'2026-04-03T09:59:49.0000000' AS DateTime2), 264710, CAST(148500.00 AS Decimal(18, 2)), 1, N'https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/264710/header.jpg?t=1774323987', 0)
GO
INSERT [dbo].[profiles] ([profile_id], [user_id], [display_name], [avatar_url], [is_vip], [vip_purchased_at], [vip_expires_at], [bio], [created_at], [updated_at]) VALUES (N'b462d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'nguyen duc dung', NULL, 0, NULL, NULL, NULL, CAST(N'2026-03-28T03:46:04.3029862' AS DateTime2), CAST(N'2026-04-01T03:34:55.0718648' AS DateTime2))
INSERT [dbo].[profiles] ([profile_id], [user_id], [display_name], [avatar_url], [is_vip], [vip_purchased_at], [vip_expires_at], [bio], [created_at], [updated_at]) VALUES (N'8006bf98-992b-f111-88ec-a0ad9fd5aaa4', N'7f06bf98-992b-f111-88ec-a0ad9fd5aaa4', N'dung@gmail.com', NULL, 0, NULL, NULL, NULL, CAST(N'2026-03-29T18:03:32.4654414' AS DateTime2), CAST(N'2026-03-29T18:03:32.4654414' AS DateTime2))
INSERT [dbo].[profiles] ([profile_id], [user_id], [display_name], [avatar_url], [is_vip], [vip_purchased_at], [vip_expires_at], [bio], [created_at], [updated_at]) VALUES (N'187562c0-492f-f111-88ed-a0ad9fd5aaa4', N'177562c0-492f-f111-88ed-a0ad9fd5aaa4', N'dungdev0123', NULL, 0, NULL, NULL, NULL, CAST(N'2026-04-03T10:42:03.8051348' AS DateTime2), CAST(N'2026-04-03T10:42:03.8051348' AS DateTime2))
GO
INSERT [dbo].[refresh_tokens] ([refresh_token_id], [user_id], [token_hash], [expires_at], [created_at], [revoked_at]) VALUES (N'b562d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'9EB67C83883513BC061D808710AABEEC69BF2E66915BA899DC8B9EC6CFD2749E', CAST(N'2026-04-04T03:46:04.4454017' AS DateTime2), CAST(N'2026-03-28T03:46:04.3029862' AS DateTime2), CAST(N'2026-04-01T03:37:11.0950773' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([refresh_token_id], [user_id], [token_hash], [expires_at], [created_at], [revoked_at]) VALUES (N'b662d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'BBB489F93ACB97243944C0E3E8281A153EB358E156B94F7FC453BE650BAA4E6F', CAST(N'2026-04-04T03:46:13.5711495' AS DateTime2), CAST(N'2026-03-28T03:46:13.5709385' AS DateTime2), CAST(N'2026-04-01T03:37:11.0950773' AS DateTime2))
INSERT [dbo].[refresh_tokens] ([refresh_token_id], [user_id], [token_hash], [expires_at], [created_at], [revoked_at]) VALUES (N'7effb6a9-5a2a-f111-88ec-a0ad9fd5aaa4', N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'82A38EE43CA70F1764FD95232E87505039259848F35AE8B06BFEC4D3EF35DD28', CAST(N'2026-04-04T04:00:31.6344725' AS DateTime2), CAST(N'2026-03-28T04:00:31.6299409' AS DateTime2), CAST(N'2026-04-01T03:37:11.0950773' AS DateTime2))
GO
INSERT [dbo].[roles] ([role_id], [role_name], [role_code], [description], [created_at], [updated_at]) VALUES (N'f8b1dc99-4a2b-f111-88ec-a0ad9fd5aaa4', N'Admin', N'ADMIN', N'Administrator', CAST(N'2026-03-29T08:38:04.0000000' AS DateTime2), CAST(N'2026-03-29T08:38:04.0000000' AS DateTime2))
INSERT [dbo].[roles] ([role_id], [role_name], [role_code], [description], [created_at], [updated_at]) VALUES (N'fffab1b6-4a2b-f111-88ec-a0ad9fd5aaa4', N'User', N'USER', N'user role', CAST(N'2026-03-29T08:38:53.0000000' AS DateTime2), CAST(N'2026-03-29T08:38:53.0000000' AS DateTime2))
GO
INSERT [dbo].[user_otps] ([user_otp_id], [user_id], [email], [purpose], [otp_code], [expires_at], [is_used], [created_at], [used_at]) VALUES (N'f91009c0-7b2d-f111-88ed-a0ad9fd5aaa4', N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'duccdung999@gmail.com', N'email_verification', N'694262', CAST(N'2026-04-01T03:39:56.0591422' AS DateTime2), 1, CAST(N'2026-04-01T03:34:56.0603851' AS DateTime2), CAST(N'2026-04-01T03:35:44.2519804' AS DateTime2))
INSERT [dbo].[user_otps] ([user_otp_id], [user_id], [email], [purpose], [otp_code], [expires_at], [is_used], [created_at], [used_at]) VALUES (N'eafe71f3-7b2d-f111-88ed-a0ad9fd5aaa4', N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'duccdung999@gmail.com', N'password_reset', N'057871', CAST(N'2026-04-01T03:46:22.3740012' AS DateTime2), 1, CAST(N'2026-04-01T03:36:22.3741514' AS DateTime2), CAST(N'2026-04-01T03:37:11.0631931' AS DateTime2))
INSERT [dbo].[user_otps] ([user_otp_id], [user_id], [email], [purpose], [otp_code], [expires_at], [is_used], [created_at], [used_at]) VALUES (N'b7faf6a0-8a2d-f111-88ed-a0ad9fd5aaa4', N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'duccdung999@gmail.com', N'password_reset', N'009732', CAST(N'2026-04-01T05:31:26.3041494' AS DateTime2), 0, CAST(N'2026-04-01T05:21:26.3046336' AS DateTime2), NULL)
GO
INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [created_at]) VALUES (N'86791aab-562b-f111-88ec-a0ad9fd5aaa4', N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'fffab1b6-4a2b-f111-88ec-a0ad9fd5aaa4', CAST(N'2026-03-29T10:04:27.0000000' AS DateTime2))
INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [created_at]) VALUES (N'8206bf98-992b-f111-88ec-a0ad9fd5aaa4', N'7f06bf98-992b-f111-88ec-a0ad9fd5aaa4', N'fffab1b6-4a2b-f111-88ec-a0ad9fd5aaa4', CAST(N'2026-03-29T18:03:32.0000000' AS DateTime2))
INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [created_at]) VALUES (N'197562c0-492f-f111-88ed-a0ad9fd5aaa4', N'177562c0-492f-f111-88ed-a0ad9fd5aaa4', N'fffab1b6-4a2b-f111-88ec-a0ad9fd5aaa4', CAST(N'2026-04-03T10:42:04.0000000' AS DateTime2))
GO
INSERT [dbo].[users] ([user_id], [email], [password_hash], [phone], [status], [email_verified], [last_login_at], [created_at], [updated_at]) VALUES (N'25987599-622b-4f40-b3c8-70f72cff99c3', N'admin@launcher.com', N'100000.lmJM5nH+pH+3B87meClJ7A==.bPSJNURIpAIx4qRib6EORhVrbO7fvBmS7MLI96Yifoo=', N'0900000000', N'active', 1, CAST(N'2026-04-03T10:18:42.5093156' AS DateTime2), CAST(N'2026-03-30T00:54:41.8600000' AS DateTime2), CAST(N'2026-04-03T10:18:42.5093156' AS DateTime2))
INSERT [dbo].[users] ([user_id], [email], [password_hash], [phone], [status], [email_verified], [last_login_at], [created_at], [updated_at]) VALUES (N'b362d2a4-582a-f111-88ec-a0ad9fd5aaa4', N'duccdung999@gmail.com', N'100000.8Yjn9lw64D9ieaTXw2Am3g==.4lBZ0h6XAEF/VHv/KJbmYDi/uqtZYqNxDdXadAuzkI8=', NULL, N'active', 1, CAST(N'2026-04-01T03:36:10.6386463' AS DateTime2), CAST(N'2026-03-28T03:46:04.3029862' AS DateTime2), CAST(N'2026-04-01T03:37:11.0774618' AS DateTime2))
INSERT [dbo].[users] ([user_id], [email], [password_hash], [phone], [status], [email_verified], [last_login_at], [created_at], [updated_at]) VALUES (N'7f06bf98-992b-f111-88ec-a0ad9fd5aaa4', N'dung@gmail.com', N'100000.lmJM5nH+pH+3B87meClJ7A==.bPSJNURIpAIx4qRib6EORhVrbO7fvBmS7MLI96Yifoo=', NULL, N'active', 0, NULL, CAST(N'2026-03-29T18:03:32.4654414' AS DateTime2), CAST(N'2026-03-29T18:03:32.4654414' AS DateTime2))
GO
/****** Object:  Index [UQ_cart_items_cart_game]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[cart_items] ADD  CONSTRAINT [UQ_cart_items_cart_game] UNIQUE NONCLUSTERED 
(
	[cart_id] ASC,
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_carts_user]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[carts] ADD  CONSTRAINT [UQ_carts_user] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_categories_slug]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_categories_slug] ON [dbo].[categories]
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_game_categories_game_id_category_id]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[game_categories] ADD  CONSTRAINT [UQ_game_categories_game_id_category_id] UNIQUE NONCLUSTERED 
(
	[game_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_game_categories_category_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_game_categories_category_id] ON [dbo].[game_categories]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_game_categories_game_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_game_categories_game_id] ON [dbo].[game_categories]
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_game_versions_game_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_game_versions_game_id] ON [dbo].[game_versions]
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_games_steam_app_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_games_steam_app_id] ON [dbo].[games]
(
	[steam_app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_media_asset_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_media_asset_id] ON [dbo].[media]
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_profiles_user_id]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [UQ_profiles_user_id] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_profiles_is_vip]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_profiles_is_vip] ON [dbo].[profiles]
(
	[is_vip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_refresh_tokens_token_hash]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [UQ_refresh_tokens_token_hash] UNIQUE NONCLUSTERED 
(
	[token_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_refresh_tokens_user_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_refresh_tokens_user_id] ON [dbo].[refresh_tokens]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_game_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_game_id] ON [dbo].[reviews]
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_user_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_user_id] ON [dbo].[reviews]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_role_code]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_role_code] UNIQUE NONCLUSTERED 
(
	[role_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_roles_role_name]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [UQ_roles_role_name] UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user_otps_email_purpose]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_otps_email_purpose] ON [dbo].[user_otps]
(
	[email] ASC,
	[purpose] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_otps_user_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_otps_user_id] ON [dbo].[user_otps]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_roles_user_id_role_id]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [UQ_user_roles_user_id_role_id] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_roles_role_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_roles_role_id] ON [dbo].[user_roles]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_roles_user_id]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_roles_user_id] ON [dbo].[user_roles]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 4/3/2026 10:40:07 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_status]    Script Date: 4/3/2026 10:40:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_users_status] ON [dbo].[users]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT (newid()) FOR [cart_item_id]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (newid()) FOR [cart_id]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (newsequentialid()) FOR [category_id]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_status]  DEFAULT (N'Published') FOR [status]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF_categories_display_order]  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[game_categories] ADD  DEFAULT (newsequentialid()) FOR [game_category_id]
GO
ALTER TABLE [dbo].[game_categories] ADD  CONSTRAINT [DF_game_categories_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[game_versions] ADD  DEFAULT (newsequentialid()) FOR [version_id]
GO
ALTER TABLE [dbo].[game_versions] ADD  CONSTRAINT [DF_game_versions_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[game_versions] ADD  CONSTRAINT [DF_game_versions_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[game_versions] ADD  CONSTRAINT [DF_game_versions_is_removed]  DEFAULT ((0)) FOR [is_removed]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT (newsequentialid()) FOR [game_id]
GO
ALTER TABLE [dbo].[games] ADD  CONSTRAINT [DF_games_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[games] ADD  CONSTRAINT [DF_games_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[games] ADD  CONSTRAINT [DF_games_isremove]  DEFAULT ((0)) FOR [isremove]
GO
ALTER TABLE [dbo].[games] ADD  CONSTRAINT [DF_games_is_trending]  DEFAULT ((0)) FOR [is_trending]
GO
ALTER TABLE [dbo].[media] ADD  DEFAULT (newsequentialid()) FOR [media_id]
GO
ALTER TABLE [dbo].[media] ADD  CONSTRAINT [DF_media_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[media] ADD  CONSTRAINT [DF_media_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [DF_profiles_profile_id]  DEFAULT (newsequentialid()) FOR [profile_id]
GO
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [DF_profiles_is_vip]  DEFAULT ((0)) FOR [is_vip]
GO
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [DF_profiles_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[profiles] ADD  CONSTRAINT [DF_profiles_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [DF_refresh_tokens_refresh_token_id]  DEFAULT (newsequentialid()) FOR [refresh_token_id]
GO
ALTER TABLE [dbo].[refresh_tokens] ADD  CONSTRAINT [DF_refresh_tokens_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (newsequentialid()) FOR [review_id]
GO
ALTER TABLE [dbo].[reviews] ADD  CONSTRAINT [DF_reviews_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  CONSTRAINT [DF_reviews_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (newsequentialid()) FOR [role_id]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [DF_roles_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  CONSTRAINT [DF_roles_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_otps] ADD  CONSTRAINT [DF_user_otps_user_otp_id]  DEFAULT (newsequentialid()) FOR [user_otp_id]
GO
ALTER TABLE [dbo].[user_otps] ADD  CONSTRAINT [DF_user_otps_is_used]  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[user_otps] ADD  CONSTRAINT [DF_user_otps_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (newsequentialid()) FOR [user_role_id]
GO
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [DF_user_roles_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_user_id]  DEFAULT (newsequentialid()) FOR [user_id]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_status]  DEFAULT ('inactive') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_email_verified]  DEFAULT ((0)) FOR [email_verified]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_updated_at]  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_cart_items_carts] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([cart_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_cart_items_carts]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_cart_items_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([game_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_cart_items_games]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_users]
GO
ALTER TABLE [dbo].[game_categories]  WITH CHECK ADD  CONSTRAINT [FK_game_categories_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[game_categories] CHECK CONSTRAINT [FK_game_categories_categories]
GO
ALTER TABLE [dbo].[game_categories]  WITH CHECK ADD  CONSTRAINT [FK_game_categories_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([game_id])
GO
ALTER TABLE [dbo].[game_categories] CHECK CONSTRAINT [FK_game_categories_games]
GO
ALTER TABLE [dbo].[game_versions]  WITH CHECK ADD  CONSTRAINT [FK_game_versions_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([game_id])
GO
ALTER TABLE [dbo].[game_versions] CHECK CONSTRAINT [FK_game_versions_games]
GO
ALTER TABLE [dbo].[media]  WITH CHECK ADD  CONSTRAINT [FK_media_games] FOREIGN KEY([asset_id])
REFERENCES [dbo].[games] ([game_id])
GO
ALTER TABLE [dbo].[media] CHECK CONSTRAINT [FK_media_games]
GO
ALTER TABLE [dbo].[profiles]  WITH CHECK ADD  CONSTRAINT [FK_profiles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[profiles] CHECK CONSTRAINT [FK_profiles_users]
GO
ALTER TABLE [dbo].[refresh_tokens]  WITH CHECK ADD  CONSTRAINT [FK_refresh_tokens_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[refresh_tokens] CHECK CONSTRAINT [FK_refresh_tokens_users]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([game_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_games]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [dbo].[user_otps]  WITH CHECK ADD  CONSTRAINT [FK_user_otps_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_otps] CHECK CONSTRAINT [FK_user_otps_users]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_users]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [CK_cart_items_quantity] CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [CK_cart_items_quantity]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_status] CHECK  (([status]='remove' OR [status]='banned' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_status]
GO
USE [master]
GO
